<section class="usuario">
    <div class="conta-pessoa-usuaria">
        <mat-icon (click)="paginaUsuario()">account_circle</mat-icon>
    </div>
    <div class="box-cards-exercicios">
        <p>Escolha a área que você deseja fazer exercícios: </p>
        <div class="area-botoes-stacks">
            <button class="botoes-areas">Front-end</button>
            <button class="botoes-areas">Back-end</button>
            <button class="botoes-areas">Mobile</button>
        </div>
        <div class="cards-questionario">
            <mat-card class="example-card">
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <div class="area-conhecimento">
                    <span>HTML5</span>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="basic" (click)="telaPerguntas()">
                        Começar
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card">
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <div class="area-conhecimento">
                    <span>CSS3</span>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="basic">
                        Começar
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card">
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <div class="area-conhecimento">
                    <span>JavaScript</span>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="basic">
                        Começar
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card">
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <div class="area-conhecimento">
                    <span>React.js</span>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="basic">
                        Começar
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card">
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <div class="area-conhecimento">
                    <span>Angular</span>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="basic">
                        Começar
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>

