<section class="login">
    <span class="logo">DevAnswer</span> 

    <div class="box-login">
        <p class="texto-login">Login</p>
        <span class="cadastro">Não tem uma conta? <a>Cadastre-se</a></span>

        <form class="campos">
            <label>E-mail:</label>
            <input matInput type="email" placeholder="Digite seu e-mail...">
            <label>Senha:</label>
            <input matInput type="password" placeholder="Digite sua senha...">
            <a class="esquecer-senha" routerLink="/esquecer-senha">Esqueceu a senha?</a>
        </form>

        <div class="fazer-login">
            <button class="botao-login">Entrar</button>
        </div>
    </div>
</section>