<section class="login">
    <span class="logo">DevAnswer</span> 

    <div class="box-login">
        <p class="texto-login">Login</p>

        <form class="campos">
            <!-- <div class="campos-login"> -->
                <mat-form-field appearance="outline">
                    <mat-label>E-mail:</mat-label>
                    <input matInput type="email" placeholder="Digite seu e-mail...">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Senha:</mat-label>
                    <input matInput type="password" placeholder="Digite sua senha...">
                </mat-form-field>
            <!-- </div> -->
        </form>
        
        <div class="fazer-login">
            <button class="botao-login" (click)="fazerLogin()">Entrar</button>
        </div>
        <div class="esquecer-senha">
            <button class="botao-esquecer-senha" (click)="telaEsquecerSenha()">Esqueceu a senha</button>
        </div>
        <div class="fazer-cadastro">
            <button class="botao-cadastro" (click)="telaCadastro()">Cadastre-se</button>
        </div>

    </div>
</section>