<section class="esquecer-senha">

    <div class="box-esquecer-senha">
        <p class="texto-esquecer-senha">Esquecer senha</p>
        <span class="descricao-esquecer-senha">Preencha o formulário a seguir, para recuperar a senha: </span>

        <form class="campos">
            <label>E-mail:</label>
            <input matInput type="email" placeholder="Digite seu e-mail...">
        </form>

        <div class="enviar-email">
            <button class="botao-enviar">Enviar</button>
            <a class="voltar-login" routerLink="/">Voltar ao login</a>
        </div>
    </div>
</section>