<section class="cadastro">
    <span class="logo">DevAnswer</span> 

    <div class="box-cadastro">
        <p class="texto-cadastro">Cadastro</p>
        <form class="campos">
            <mat-form-field appearance="outline">
                <mat-label>Nome completo:</mat-label>
                <input matInput type="text" placeholder="Digite seu nome completo...">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nome da pessoa usuária:</mat-label>
                <input matInput type="text" placeholder="Digite seu usuário(a)...">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>E-mail:</mat-label>
                <input matInput type="email" placeholder="Digite seu e-mail...">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Senha:</mat-label>
                <input matInput type="password" placeholder="Digite sua senha...">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Redigite a senha:</mat-label>
                <input matInput type="password" placeholder="Redigite sua senha...">
            </mat-form-field>
        </form>

        <div class="fazer-cadastro">
            <button class="botao-cadastro" (click)="cadastroRealizado()">Cadastrar</button>
        </div>
        <span class="descricao-cadastro">Possui uma conta? <a routerLink="/">Fazer login</a></span>
    </div>
</section>