.conta {
    padding: 3rem;

    .box-conta {
        display: flex;
        flex-direction: column;
        margin: 4rem;
        margin-top: 2rem;

        .texto-conta {
            color: #fff;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-size: 1.4rem;
            font-weight: 700;
        }

        .campos {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            line-height: 2rem;
            color: #fff;

            // mat-icon-stepper selected color change 
            ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
                color: #fff!important;
            }

            //input outline color
            ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
                color: #fff!important;
            }

            ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
                color: #fff!important;
            }

            ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
                color: #fff!important;
            }

            ::ng-deep .mat-form-field-label{
                color: #fff;
            }

            ::ng-deep .mat-input-element::placeholder{
                color: #fff;
            }
        }

        .alterar-conta {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .botao-alterar-dados {
                padding: 0.5rem;
                width: 20%;
                display: flex;
                justify-content: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                background-color: #3190E8;
                border: 1px solid #111;
                border-radius: 10px;
                margin-top: 1rem;
                color: #fff;
                cursor: pointer;
        
                &:hover {
                    text-decoration: underline;
                }
            }
            .botao-fazer-logout {
                padding: 0.5rem;
                width: 20%;
                display: flex;
                justify-content: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                background-color: #E83C31;
                border: 1px solid #111;
                border-radius: 10px;
                margin-top: 1rem;
                color: #fff;
                cursor: pointer;
        
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
