<section class="perguntas">
    <p>1. O atributo alt é utilizado para fins de acessibilidade em qual  tag no HTML?</p>

    <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let opcao of opcoes" [value]="opcao">
            {{ opcao }}
        </mat-radio-button>
    </mat-radio-group>

    <div class="proxima-questao">
        <button class="avancar">Avançar</button>
    </div>
</section>