<section class="perguntas" *ngFor="let questao of listaPerguntas">
    <!-- <p>1. O atributo alt é utilizado para fins de acessibilidade em qual  tag no HTML?</p> -->
    <p>{{ questao.enunciado }}</p>

    <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <mat-radio-button class="example-radio-button" [value]="questao.opcoes">
            {{ questao.opcoes }}
        </mat-radio-button>
    </mat-radio-group>

    <div class="proxima-questao">
        <button class="avancar">Avançar</button>
    </div>
</section>